#mainView {
    -fx-pref-height: 800;
    -fx-pref-width: 800;
    -fx-font-family: "Arial sans-serif";
    -fx-font-size: 14;
    -fx-background-color: white;
}

#generatorPane {
    -fx-pref-height: 100;
    -fx-spacing: 20;
    -fx-padding: 20;
}

#generatorPane Button {
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-border-radius: 1;
    -fx-border-color: #1E5496;
    -fx-background-color: #21579f;
    -fx-text-fill: white;
}

#generatorPane Button:hover {
    -fx-text-fill: #1E5496;
    -fx-background-color: white;
}

#generatorPane Label {
    -fx-font-size: 24;
}

#lengthSelection {
    -fx-pref-width: -1;
    -fx-pref-height: 40;
    -fx-alignment: center;
    -fx-spacing: 20;
}

#lengthSelection HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

#letterList {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-grid-lines-visible: false;
    -fx-alignment: center;
}

#letterList HBox {
    -fx-alignment: center;
}

#letterList Slider {
    -fx-major-tick-unit: 5;
    -fx-minor-tick-count: 4;
    -fx-show-tick-marks: true;
    -fx-snap-to-ticks: true;
}

#letterList Label {
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-pref-width: -1;
}

#letterConfig {
    -fx-pref-width: -1;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

#letterConfig HBox {
    -fx-alignment: center;
}

.error {
    -fx-text-fill: red;
    -fx-spacing: 20;
    -fx-font-weight: bold;
}

.well {
    -fx-padding: 10;
    -fx-background-color: #eee;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-spacing: 10;
}

NumericField {
    -fx-pref-width: 40;
    -fx-font-size: 14;
    -fx-background-color: white;
    -fx-border-radius: 3;
    -fx-border-color: #666666;
}